@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.main-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 4rem);
  position: relative;
}

.main-content {
  flex: 1;
  min-width: 0;
  padding: 0 1rem;
  overflow: auto;
  height: 100%;
}
